*{
  margin: 0;
  padding: 0;
}

.hero-img{
  height: 100vh;
  width: 21vw;
  position: fixed;
  z-index: 1;
  background: #C9A9A6;
  
}

.overlap{
  height: 100vh;
  width: 80%;
  margin-left: 15%;
  z-index: 2;
  position: absolute;
  background: #ffffff;
  border-radius: 1rem;
  
}

.list-image{
  
  width: 20px;
  height: 20px;
  color:#ffffff;

}

.circular-landscape{
  width: 10em;
}

#pulamea
{ 
  display: inline-block; 
  position: relative; 
  width: auto; 
  height: 10em; 
  overflow: hidden; 
  border-radius: 50%; 
}


.centrare{

  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 20vw;
  text-align: center;
  background-color: #C9A9A6;
  border-style: none;
  padding-top: 1.5ex;
  padding-bottom: 1.5ex;
}

.rectangle
{
  background-color: #9D6161;
  position: absolute;
  width: 760px;
  height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1rem;
  margin-top: 5em;
  margin-left: 3em;
}

.rectangle2
{
  background-color: #9D6161;
  position: absolute;
  width: 760px;
  height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1rem;
  margin-top: 17em;
  margin-left: 3em;
}

.rectangle3
{
  background-color: #9D6161;
  position: absolute;
  width: 760px;
  height: 160px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 1rem;
  margin-top: 29em;
  margin-left: 3em;
}

#myVideo
{
  position: fixed;
  left: 15vw;
  bottom: 0;
  height: 100vh;
  border-radius: 1rem;

}

.card-holder
{
  background-color: #ffffff;
  position: absolute;
  z-index: 5;
  width: 100px;
  height: 100px;
  right: 0;
  position: absolute;
  width: 20em;
  height: 34em;
  background: #9D6161;
  border-radius: 1rem;
  margin-top: 5em;
}
