#bg{
	width : 100%;
	height : 100%;
	  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
*{
    margin: 0;
    padding: 0;
    /*font-size: 100%;*/
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

ul{

    position: relative;
    display: flex;
    transform-style: preserve-3d;
    align-items: center;

    /*transform: rotate(-25deg) skew(25deg);*/
}

ul li{
    transform: rotate(-25deg) skew(25deg);
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    align-items: center;
}

ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #333;
    color: rgba(255,255,255,0.2);
    font-size: 30px !important;
}

ul li:hover span{
    z-index: 1000;
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.25);
    
}

ul li:hover span:nth-child(5){
    transform: translate(40px,-40px);
    opacity: 1;
}

ul li:hover span:nth-child(4){
    transform: translate(30px,-30px);
    opacity: 0.8;
}

ul li:hover span:nth-child(3){
    transform: translate(20px,-20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2){
    transform: translate(10px,-10px);
    opacity: 0.4;
}

ul li:hover span:nth-child(1){
    transform: translate(0px,0px);
    opacity: 0.2;
}

ul li:nth-child(1):hover span{
    background: #3b5999;
}

ul li:nth-child(2):hover span{
    background: orange;
}

ul li:nth-child(3):hover span{
    background: #55acee;
}

ul li:nth-child(4):hover span{
    background: red;
}

ul li:nth-child(5):hover span{
    background: #0077B5;
}
.facebook{
	position: relative;

  width: 60px;
  height: 60px;
  border: 3px solid #1771e6;
}
.ig{
	position: relative;
  width: 60px;
  height: 60px;
  border: 3px solid #eba834;
}
.yt{
	position: relative;
  width: 60px;
  height: 60px;
  border: 3px solid red;
}
.twitter{
	position: relative;
  width: 60px;
  height: 60px;
  border: 3px solid lightskyblue;
}
.linked{
	position: relative;
  width: 60px;
  height: 60px;
  border: 3px solid aliceblue;
}
#linked{
    font-family: sans-serif;
    position:relative;
    align-items: center;
    top: 50px;
    right:84px;
    animation-name:animation_test;
    animation-duration: 1s;

}
#youtube{
    font-family: sans-serif;
    position:relative;
    align-items: center;
    top:50px;
    right:250px;
    margin-right:130px;
    animation-name:animation_test;
    animation-duration: 1s;
}
#twitter{
    font-family: sans-serif;
    position:relative;
    align-items: center;
    top:50px;
    right:537px;
    margin-right:130px;
    animation-name:animation_test;
    animation-duration: 1s;
}


@keyframes animation_test{
    from{
        top:0px;
        opacity: 0;
    }
    to{
        top:50px;
        opacity:1;
    }
}
